<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.warehouse.dao.UserMapper">
    <select id="login" parameterType="map" resultType="com.app.warehouse.model.User">
        SELECT * FROM `软工2202_09_05_29人员表`
        WHERE `人员代码` = #{code} AND `密码` = #{password}
    </select>
</mapper>
